.App {
  text-align: center;
}

.calendar-header {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  
}

.month-year-header {
  font-size: large;
  margin-top: 10px;
}

.weekday-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 5px;
  height: 100%;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-body {
  display: grid;
  border: 1px solid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  text-align: left;
}


